html, body {
	height: 100%;
  margin: 0;
  padding: 0;
}

#wrapper {
  margin: 0 auto;
	color: #000;
}

#header {
  margin-top: 1em;
  border-top: 0.5em solid;
  border-bottom: 0.5em solid;
}

#header h1 {
  font-size: 3.5em;
  font-weight: bold;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

#header h1 a {
  color: #000;
  text-decoration: none;
}

#content {
  padding: 5em;
	position: relative;
  margin: 0 auto;
  width: 50%;
}

#footer {
  float: right;
  padding-right: 2em;
  color: #555555;
	font-size: 0.8em;
}

#footer a:link {
	text-decoration: none;
}

label {
  padding-bottom: 0.8em;
}

input#url {
  display: block;
  font-size: 1.5em;
  background: #EEE;
  border: 0.1em solid #555;
  width: 23em;
}

#ohaisubmitbuttons {
  text-align: center;
  margin: 0.5em auto;
}

input.button {
  font-size: 1.5em;
  background-color: #EEE;
  height: 1.5em;
}

#adsense {
  width: 300px
  margin: 0 auto;
}
